<ion-header >
  <ion-toolbar color="primary">
    <ion-title style="text-align: center"> Sonidos APP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list   >
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))"></ion-reorder-group>

    <ion-item-sliding *ngFor="let item of animales;let i = index">
    <ion-item  (click)="reproducir(item)">
      <ion-avatar item-left>
        <img [src]="item.imagen" />
      </ion-avatar>
      <h2>{{ item.nombre}}</h2>
      <ion-icon *ngIf="!item.reproduciendo" name="play" slot="end"></ion-icon>
      <ion-icon *ngIf="item.reproduciendo" name="pause" slot="end"></ion-icon>
    </ion-item>
    <ion-item-options side="end">
      <ion-button color="danger" (click)="borrar_animal(i)">

        <ion-icon name="trash"></ion-icon>
        Borrar
      </ion-button>


    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
